      <div class="sidebar">
          <nav class="sidebar-nav">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                  </a>
                </li>
                <li class="nav-title">Business</li>
                <li class="nav-item">
                  <a class="nav-link" href="/business/">
                    <i class="nav-icon icon-list"></i>List of Business </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/business/create/">
                    <i class="nav-icon icon-pencil"></i>Create Busines</a>
                </li>
    
                <li class="nav-title">Social Media</li>
    
                <li class="nav-item nav-dropdown">
                  <a class="nav-link " href="/social-media/app/">
                    <i class="nav-icon icon-list"></i>List of Social Media</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link " href="/social-media/app/create/">
                      <i class="nav-icon icon-plus"></i>Add Social Media</a>
                </li>
    
    
                <li class="nav-title">Websites</li>
    
                <li class="nav-item nav-dropdown">
                  <a class="nav-link " href="#">
                    <i class="nav-icon icon-list"></i>List of Websites</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link " href="#">
                      <i class="nav-icon icon-plus"></i>Add Websites</a>
                </li>
    
                <li class="nav-title">Extras</li>
    
                <li class="nav-item nav-dropdown">
                  <a class="nav-link " href="#">
                    <i class="nav-icon icon-magnifier"></i>Search</a>
                </li>
    
                <li class="nav-item nav-dropdown">
                  <a class="nav-link " href="#">
                    <i class="nav-icon icon-cloud-upload"></i>Upload</a>
                </li>
    
                <li class="nav-item nav-dropdown">
                    <a class="nav-link " href="#">
                      <i class="nav-icon icon-folder-alt"></i>Data Store Overview</a>
                </li>
    
                <li class="nav-item nav-dropdown">
                  <a class="nav-link " href="#">
                    <i class="nav-icon icon-cloud-download"></i>Download</a>
                </li>
    
              </ul>
            </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>